@import "../../index.scss";


.timerFooter {
  color: $primaryText;
  height: 11vh;
  align-items: center;
  background: $primaryColor;


  h2 {
    background: $primaryColor;
    width: 90vw;
    display: flex;
    align-items: center;
    font-size: 9vh;
    padding-left: 10px;

  }

  img {
    width: 15vw;
    height: 11vh;
    margin-left: auto;
    padding-right: 1em;
    background: white;
    padding-top: 0; 

  }

  //little css hack i made to get the triangle to style $primary color correctly 
  .triangleSpan {
    background: white; 
  }

  .triangle {
    height: 0px;
    width: 0px;
    border-bottom: 11vh solid $primaryColor;
    border-left: 0px solid transparent;
    border-right: 7.9vh solid transparent;
    background: white;
    
  }

  
}

