@import "../../index.scss";
@import "../UI/Button.scss";

.timer-header {
  background: $primaryColor;
  color: $primaryText;
  height: 10vh;

  .header-wrapper {
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .clock {
    font-size: 10vw;
  }

  .x-btn {
    @include createdButton(white, $primaryColor, gray, gray);
    position: absolute;
    right: 5vw;
    top: 2vh;
    font-size: 20px;
    margin: 0;
    height: 30px;
    width: 30px;
    padding: 0 !important; 
  }

}


  @media (min-width: 450px) {
    .clock {
      font-size: 6vw !important;
    }
  }

  @media (min-width: 600px) {
    .clock {
      font-size: 6vw !important;
    }
  }

  @media (min-width: 768px) and (orientation:"portrait") {
    .x-btn {
      height: 60px !important;
      width: 60px !important;
      font-size: 50px !important;
      padding-left: 15px !important;
    }
  }

