@import "../../index.scss";

.timerFooter {
  color: $primaryText;
  height: 11vh;
  align-items: center;
  background: $primaryColor;

  h2 {
    background: $primaryColor;
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 100vw; 
    font-size: 6vh;
  }

  
}



