@import "../../index.scss";

.itBody {
  justify-content: center;
  align-items: center;
  height: 79vh;
  background-color: rgb(245, 243, 243);
  flex-direction: column;

  h1 {
    font-size: 30vw;
    align-self: center;
    margin-bottom: 40px;
    margin-top: 40px;
    &:hover {
      cursor: pointer;
    }
  }
  .glow {
    text-shadow: 0 0 25px $primaryColor, 0 0 10px darkred;
  }

  .emptyBtn {
    border: none;
    background: none;
    align-self: center;
    justify-self: flex-end;
    &:hover {
      cursor: pointer;
    }

    img {
      width: 15vw;
      height: auto;
    }
  }

  /* Iphone 8 Landscape  */
  @media only screen and (orientation: landscape) {
    img {
      width: 10vh !important;
    }

    h1 {
      font-size: 20vw; 
      margin-top: 20px; 
      margin-bottom: 20px; 
    }
  }

  // Small Screen
  @media only screen and  (min-width: 600px) and (orientation: portrait) {
    h1 {
      font-size: 250px;
    }
    img {
      width: 100px !important;
    }
  }
}
