@import "../../index.scss";

.itBody {
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: rgb(245, 243, 243);
  flex-direction: column;

  h1 {
    font-size: 30vw;
    align-self: center;
    margin-bottom: 40px;
    margin-top: 40px;
    &:hover {
      cursor: pointer;
    }
  }
  .glow {
    text-shadow: 0 0 25px $primaryColor, 0 0 10px darkred;
  }

  .emptyBtn {
    border: none;
    background: none;
    align-self: center;
    justify-self: flex-end;
    &:hover {
      cursor: pointer;
    }

    img {
      width: 15vw;
      height: auto;
    }
  }

  @media (min-width: 600px) {
    h1 {
      font-size: 250px;
    }
    img {
      width: 100px !important;
    }
  }
}
