$primaryColor: #e21a36;
$secondaryColor: #cecece;
$primaryFont: helvetica, Helvetica, Arial, sans-serif;
$primaryText: white;
$secondaryText: black;

//universal media queries
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: $primaryFont;
}

#container {
  display: block;
}

